[2013-09-27 21:10] adrocknaphobia opened #2 "Sticky Navigation"
When scrolling down the page, the navigation bar should remain visible.

[2013-09-27 21:11] adrocknaphobia opened #3 "Localization Support"
Define a mechanism for providing alternative languages.

[2013-09-27 21:15] adrocknaphobia opened #4 "Download Button Doesn't Stand Out"
Consider changing the color of the download button to stand out better.

[2013-09-27 21:34] adrocknaphobia opened #5 "Feature Links Are Hard To See"
The color of the feature links are hard to see and looked washed out.

[2013-09-27 22:03] adrocknaphobia opened #6 "Animate the Hero Image"
Animate the hero image to show interaction patterns of Brackets.

[2013-09-29 18:34] Yomi0 commented on #5
http://yomi0.github.io/brackets.io/index.html

https://github.com/yomi0/brackets.io/commit/1c9bd861dc962b44023399cb9d968876c0c20ecd

I changed the feature link colors to a darker blue.

[2013-09-29 19:06] larz0 commented on #5
@adrocknaphobia FBNC

[2013-09-29 20:48] larz0 commented on #4
@adrocknaphobia FBNC.

[2013-09-29 22:28] larz0 opened #11 "Hide Download Button on Mobile Devices"
@adrocknaphobia knows how to do this.

[2013-10-01 02:40] larz0 commented on #5
Closing this.

[2013-10-01 02:40] #5 closed, assigned to nobody

[2013-10-01 02:41] larz0 commented on #2
This is done in #13.

[2013-10-01 02:41] larz0 commented on #4
Sorted. Closing.

[2013-10-01 02:41] #4 closed, assigned to nobody

[2013-10-01 02:41] #2 closed, assigned to adrocknaphobia

[2013-10-11 21:38] adrocknaphobia commented on #11
Done.

[2013-10-11 21:38] #11 closed, assigned to adrocknaphobia

[2013-10-11 21:41] adrocknaphobia opened #16 "Mobile Menu Doesn't Close"
Reported on iOS7 w/ iPhone 5

[2013-10-11 21:41] adrocknaphobia opened #17 "Mobile Menu Doesn't Display"
Android 4.3 w/ Chrome

[2013-10-12 01:11] ericjim opened #19 "Menu icon in mobile web browsers is incorrect."
In both Chrome for Android and Firefox for Android; the icon at the top right corner that drops down the navigation menu presents an erroneous icon.
##### Firefox for Android (Version: 24.0)

![brackets mobile site firefox](https://f.cloud.github.com/assets/1329167/1319318/b5ae3b36-32db-11e3-9b9d-761fea891de2.png)
##### Chrome for Android (Version: 30.0.1599.82)

![brackets mobile site chrome](htt

[2013-10-12 03:50] larz0 commented on #16
Should be fixed.

[2013-10-12 03:50] #16 closed, assigned to nobody

[2013-10-12 04:29] larz0 commented on #19
Thanks @ericjimenez. It should be fixed now.

[2013-10-12 04:29] #19 closed, assigned to nobody

[2013-10-22 17:21] adrocknaphobia opened #26 "Download Button Not Recognizing Firefox 32-bit"
The download button displays "unknown" when browsing the site with Firefox 32-bit.

https://github.com/adobe/brackets/issues/5509

[2013-10-26 20:19] scarnago opened #27 "Does not working on OS X Mavericks"
Brackets Sprint 32" can't open because coming form a not identify developer

[2013-10-26 20:37] ericjim commented on #27
Try locating Brackets in the Applications folder, and perform a Right-click open. This will allow you to open third-party applications that are not distributed via the Apple Mac App Store, or that are not identified officially with Apple. If you go to System Preferences ---> Security & Privacy, under "Allow apps downloaded from:" you can change your settings to "Anywhere". This should allow you op

[2013-10-27 18:43] ZweiSteinSoft commented on #27
@scarnago @ericjimenez This repository is for the Brackets website only. For the software, refer to [adobe/brackets issues](/adobe/brackets/issues).

[2013-10-27 19:28] larz0 commented on #27
Thanks @mynetx @ericjimenez. Closing.

[2013-10-27 19:28] #27 closed, assigned to nobody

[2013-10-29 21:29] lkcampbell commented on #26
@adrocknaphobia, I have this problem in Chrome as well.  Version 30.0.1599.101 m.

The download button says "Sprint 32 (UNKNOWN)" if I go to http://brackets.io/ and if I click on the button, is goes to an error page that says:

struct
DETAIL   [empty string]
MESSAGE  Invalid platform.

On the other hand, the Download Button at http://download.brackets.io/ works great!  That's the page and button I

[2013-10-29 21:30] peterflynn commented on #26
@lkcampbell What's your user agent?

[2013-10-29 21:31] lkcampbell commented on #26
Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/30.0.1599.101 Safari/537.36

[2013-10-31 20:17] njx opened #28 "Shows "Sprint 31" while loading"
While brackets.io is loading, it shows "Sprint 31" and an old set of features on the home page, then switches to the current sprint. We should just blank these out until the latest info is loaded.

(I noticed this first because the first time I hit brackets.io it was slow, but even when it loads fast you can still see it switch from Sprint 31 to the current sprint.)

[2013-11-05 01:28] couzteau commented on #28
On my VM Chrome and IE never switch to 33

[2013-11-06 14:57] marcelgerber opened #31 "No Sprint 29 download for Win/Mac"
There's no entry in `All downloads` for Win/Mac for Sprint 29.
The file extension `deb` for Linux is missing, too.

![image](https://f.cloud.github.com/assets/2641501/1483211/79420cfa-46f3-11e3-95bf-342024e4366a.png)

[2013-11-09 00:55] pthiess commented on #26
@adrocknaphobia Are you still on this or shall we reassign?

[2013-11-11 19:18] peterflynn commented on #26
Reviewed.  Will reassign to @ingorichter once he's been added to the repo.

[2013-11-11 19:18] peterflynn commented on #26
Note: we should also make sure this is fixed for various browsers on 32-bit Win XP (see adobe/brackets#5914)

[2013-11-13 02:59] adrocknaphobia commented on #31
Uploaded and tested new builds for Sprint 29.

[2013-11-13 02:59] #31 closed, assigned to nobody

[2013-11-13 03:43] adrocknaphobia commented on #28
Dropped sprint indicator on button before update check.

[2013-11-13 03:43] #28 closed, assigned to adrocknaphobia

[2013-11-13 03:46] adrocknaphobia commented on #26
Should be working for all XP browsers now.

[2013-11-13 04:09] #17 closed, assigned to nobody

[2013-11-13 05:12] adrocknaphobia opened #33 "Update download.brackets.io design"

[2013-11-13 15:36] TuckerWhitehouse commented on #26
`If(OS != "Unknown")` is NEVER going to return false ([Line 287](https://github.com/adobe/brackets.io/blob/gh-pages/index.html#L287)) because the default value given on [Line 259](https://github.com/adobe/brackets.io/blob/gh-pages/index.html#L259) is `var OS = "UNKNOWN"` (all caps).

[2013-11-13 19:18] pthiess commented on #26
@adrocknaphobia I do agree with @TuckerWhitehouse in case of an unknown OS version and label are set to an undefined value. It would be great to handle that case. Your fix seems to address XP, but not necessarily unsupported platforms.

[2013-11-13 20:10] adrocknaphobia commented on #26
Thanks @TuckerWhitehouse. Good catch. I fixed the issue w/ PR #34. In the future, feel free to submit pull requests directly against this repo. It's my hope that we can handle these minor cosmetic issues without having to bother the Brackets team whose time is better spent working on Brackets itself.

[2013-11-13 20:10] #26 closed, assigned to adrocknaphobia

[2013-11-15 20:08] iwehrman opened #36 "Use Google Analytics"
It should be really easy to add Google Analytics to brackets.io. I think we would learn a lot from the data.

[2013-11-15 22:22] couzteau commented on #36
I bet it's well worth the effort.

[2013-11-19 22:50] adrocknaphobia commented on #36
@iwehrman view the source brotha! we already have google analytics enabled.

[2013-11-19 22:50] #36 closed, assigned to nobody

[2013-12-31 21:13] ingorichter opened #40 "Make the list of blog posts dynamic"
Currently the list with blog posts is static and requires a manual update, if there is a new blog post on blog.brackets.io.

[2014-01-01 00:27] GarthDB commented on #40
It wouldn't be hard to bring in the feed http://blog.brackets.io/feed/
It is probably best to do server side, but this is all gh-pages, so a quick js solution would work.

[2014-01-24 07:19] screendriver opened #42 "Blog RSS Feed broken"
I wanted to subscribe to the Brackets Blog RSS Feed (http://blog.brackets.io/feed/). Unfortunately I got a "Error establishing a database connection"

See also [ adobe/brackets#6620](https://github.com/adobe/brackets/issues/6620)

[2014-01-24 18:40] pthiess commented on #42
Hey Bryan,

please take a look at this - marking it a medium for now. @jadbox @ingorichter @bchintx

I consider this a high priority if more people are seeing this.

[2014-01-24 18:47] marcelgerber commented on #42
Seems to work fine now. It wasn't working here a few hours ago either (same machine, same browser, ...).

[2014-01-24 19:34] screendriver commented on #42
:+1:

[2014-01-24 19:43] ingorichter commented on #42
@SAPlayer @ScreenDriver We had to restart the database server. Since we dynamically update the blogposts on brackets.io, the blog instance gets more hits, which most likely caused this issue. We are looking to resolve this situation. Thanks for reporting.

[2014-01-24 20:00] marcelgerber commented on #42
~~Seems like http://blog.brackets.io is completely down now :thumbsdown:
http://isup.me/blog.brackets.io~~

EDIT: Was just for a short moment, it's up again. Hope this won't happen more often.

[2014-01-25 01:41] jadbox commented on #42
We could move to the blog wordpress instance to another hosting platform that specializes in scalable solutions (e.g. Wordpress.org || wpengine.com). This should allow us to put the crashing issue at rest, since a good provider should dynamically expand the WP instances. Any blockers/concerns around moving blog servers? Either I or someone on the team can perform the transition.

[2014-02-19 17:05] larz0 commented on #40
It's now dynamic, closing.

[2014-02-19 17:05] #40 closed, assigned to nobody

[2014-02-19 17:06] larz0 opened #44 "We're getting blog posts from the distant future."
![screen shot 2014-02-19 at 9 04 12 am](https://f.cloud.github.com/assets/1495261/2209144/1f852930-9988-11e3-9153-28c72ee7918f.png)

[2014-02-19 17:08] ingorichter commented on #44
WTH! It seems the date format that's returned from the json feed has a different format. Let me check this quickly.

[2014-02-19 17:19] larz0 commented on #44
Thanks @ingorichter I think our WP blog has a life of its own.

[2014-02-19 17:26] ingorichter commented on #44
Hey @larz0, I can't see the fancy date with Chrome. Which browser do you use?

[2014-02-19 17:28] ingorichter commented on #44
Firefox is showing 'Invalid Date', Safari is showing this fancy date... :-(

[2014-02-19 17:40] larz0 commented on #44
I'm using Safari 7.0.1.

[2014-02-19 19:11] ingorichter commented on #44
@larz0 I've fixed the issue. Would you mind having a second look? Thanks.

[2014-02-19 19:39] larz0 commented on #44
Yay it's fixed. Closing, thanks~

[2014-02-19 19:39] #44 closed, assigned to nobody

[2014-02-28 10:46] rashthedude opened #45 "Find command indexing"
The Find tool highlights the amount of found results but doesn't index them e.g. '1 of x'. Would be a cool feature just to see where exactly you are or if you have passed the keyword you were looking for.

[2014-02-28 18:13] peterflynn commented on #45
@rashthedude I definitely agree that'd be useful!  We have a [user story in our backlog for this](https://trello.com/c/0GXqt5GF/1089-s-correct-find-next-indicate-current-match-index), and since it's already tracked there I'll close this bug.  Please upvote the user story to indicate it's important to you, and feel free to watch it for updates.

[2014-02-28 18:13] #45 closed, assigned to nobody

[2014-02-28 18:14] peterflynn commented on #45
Also, for future reference -- please file bugs in the [main Brackets repo](https://github.com/adobe/brackets).  This repo is just for the brackets.io website.

[2014-03-01 06:52] rashthedude commented on #45
Will certainly do in the future.

[2014-03-08 04:32] bchintx commented on #42
The feed is up, and we're working on migrating to a new WordPress hosting service.

[2014-03-19 00:25] bchintx commented on #42
The blog has been moved to our new hosting service, and the JSON feed has been re-established.  Closing this bug.

@ScreenDriver please comment if you are experiencing any problems with it now.

[2014-03-19 00:25] #42 closed, assigned to bchintx

[2014-03-25 08:22] lawlesscreation opened #52 "Support for .editorconfig"
Firstly let me start by saying Great Work! I discovered brackets.io from the .NetAwards page and after using it for a little while found to it be worthy of the vote!

After a little bit of searching is seems the current version of Brackets doesn't support `.editorconfig` files but it DOES support `.brackets.json` which are similar. Working as part of a team, each using their own preferred editors

[2014-03-25 08:25] lawlesscreation commented on #52
Crap, this is the repo for the site... just realized. Moved

[2014-03-25 08:25] #52 closed, assigned to nobody

[2014-04-05 19:56] IonicaBizau opened #55 "Broken image on Downloads page"
Chromium outputs this in the console:

[code]

[2014-04-06 17:50] marcelgerber commented on #55
The [Windows image](http://download.brackets.io/img/screenshot-windows-sprint-24.png) is available btw (even though it's not up-to-date, but Sprint 24)

[2014-04-06 17:57] IonicaBizau commented on #55
[Mac Sprint 24](http://download.brackets.io/img/screenshot-mac-sprint-24.png) is available too.

[2014-04-17 19:13] 0b10011 opened #59 "Add CONTRIBUTING.md"
I would recommend adding a `CONTRIBUTING.md` file per https://github.com/blog/1184-contributing-guidelines

This will ask any user opening a new issue or submitting a pull request  to review the contributing guidelines of Brackets. It will help prevent issues such as [this](https://github.com/adobe/brackets.io/pull/57#issuecomment-40737958).
## Some examples
- [CodeMirror](https://github.com/marij

[2014-04-17 19:17] peterflynn commented on #59
Perhaps we should just link to the existing main Brackets guide - https://github.com/adobe/brackets/blob/master/CONTRIBUTING.md

[2014-04-17 19:18] 0b10011 opened #60 "Set up a bot to track signing of CLA"
If signing the CLA is required for contributors, I would recommend setting up a bot that either warns about not having signed the CLA, or having a buildbot set up that only merges after the CLA has been signed.

For example, node warns with an automatic comment: https://github.com/joyent/node/pull/5491#issuecomment-18003010

[2014-04-17 19:50] ingorichter commented on #60
We only have this functionality for building brackets itself. Travis will build branches and checks if the contributor signed the CLA and fails the build if this is not the case. But we don't have this for the other repos. This is a good feature request for all our other repos. Thanks.

[2014-04-26 10:30] marcelgerber opened #63 "Toggle mobile nav by clicking the hamburger"
Currently, tapping the hamburger on a mobile is showing the nav. I'd expect it to toggle the nav (showing on first click,  hiding on second).

[2014-04-27 17:38] bodhiBit opened #65 "Revoked certificate..?"
Firefox seems to believe your certificate for https://brackets-registry.aboutweb.com/ has been revoked..

![screenie](https://cloud.githubusercontent.com/assets/2022184/2811814/b3367d1c-ce32-11e3-9f6f-536b4332a669.png)

[2014-04-27 18:43] marcelgerber commented on #65
@jadbox See http://stackoverflow.com/q/275878/3455922

[2014-04-28 05:36] #63 closed, assigned to nobody

[2014-04-28 12:01] dangoor commented on #65
I've contacted the maintainer of the registry.

[2014-04-28 15:25] dangoor commented on #65
Also, I'll note that Chrome still allows access to the registry site.

[2014-04-28 16:43] jrowny commented on #65
New certificate is in place, but some browsers don't contain the chain (bundle). Waiting on a patch to support CA i.e. `ca: [fs.readFileSync('gd_bundle.crt')]`

[2014-05-14 20:44] ghost opened #68 "download page is broken"
http://download.brackets.io/ doesn't work anymore.

![sans titre](https://cloud.githubusercontent.com/assets/6444179/2976807/723953c8-dba4-11e3-911b-f603b8492fa8.png)

[2014-05-14 20:49] njx commented on #68
D'oh, thanks for the note. I refiled this in our main bugbase as https://github.com/adobe/brackets/issues/7839. Closing.

[2014-05-14 20:49] #68 closed, assigned to nobody

[2014-05-14 22:04] njx commented on #68
@MrVaykadji - this should be fixed now. (Also, you can just go to brackets.io directly - download.brackets.io has been deprecated.)

[2014-05-14 22:59] ghost commented on #68
oh ok, then there are some wiki pages to review : https://github.com/adobe/brackets/wiki/Linux-Version for example.

I was actually trying to download the Linux version (but on my Windows computer, for liveUSB purposes), but I could manage to do that with the "release" page from github.

[2014-05-14 23:01] njx commented on #68
Ah, thanks. The old URL is supposed to redirect to the new URL anyway, but we should fix those up.

[2014-05-15 19:02] ingorichter opened #70 "Why do we have the set the Sprint/Release number in the index.html?"
Currently we need to set the Sprint/Release number manually to construct the download URL. This information should be available from `en.json` and there shouldn't be any need to update the index.html with every release.

[2014-05-25 00:34] le717 commented on #33
Along with, #55, this issue can be closed since download.brackets.io is no longer used. ;)

[2014-05-25 00:34] le717 commented on #55
Along with, #33, this issue can be closed since download.brackets.io is no longer used. ;)

[2014-05-25 15:03] marcelgerber commented on #3
Can be closed now.

[2014-06-26 06:05] IonicaBizau commented on #55
Seems the problem is fixed. We can close this issue.

[2014-06-26 06:05] #55 closed, assigned to nobody

[2014-07-23 10:49] ziyaddin opened #90 "Possible Translations?"
Hi, can I translate website content into Azerbaijani language (localization)? Thanks!

[2014-07-30 05:25] ingorichter commented on #90
@ziyaddin you are welcome to do so. Let us know if you need any help.

[2014-07-30 17:58] marcelgerber commented on #90
@ziyaddin You may take a look at https://github.com/adobe/brackets.io/blob/gh-pages/locales/README.md, which explains how to translate this website.

[2014-08-09 12:57] ziyaddin commented on #90
@ingorichter thanks very much! @MarcelGerber thanks for documentation! If I translate, how can I view translated page in website? How can the users change the website language to another one?

[2014-08-09 15:27] marcelgerber commented on #90
@ziyaddin After following the steps in the readme (without setting `production` back to `true`), you can view the page via Live Preview. If you're from Azerbaijan, it _should_ use the language automatically, just add `?lang=az` to the URL otherwise.
Others do the same for now, but we might add an option to the site to change the language when more languages are supported.

Ah, and of course you ne

[2014-09-12 07:27] golbin opened #106 "Doesn't load "New Features" in some languages"
I'm Korean and it doesn't work in Korean locale.

The problem is the checking logic whether there is a version info resource in the specific locale or not. And the problem of the logic is about async.

![brackets io](https://cloud.githubusercontent.com/assets/6277035/4246590/3fbaf3d6-3a4d-11e4-808f-3e1968e0c488.png)

[2014-09-16 02:42] JeffryBooher opened #110 "Rotator draws on top oh hamburger menu"
The brackets rotatating logo draws into and above the hamburger menu on mobile phone form factors.

Open a browser
Goto brackets.io
Notice the rotating brackets logo
Invoke hamburger menu
Logo draws inside menu

[2014-09-16 02:47] JeffryBooher commented on #110
![image](https://cloud.githubusercontent.com/assets/1514099/4281902/c0bc2738-3d4b-11e4-891d-f775bb62c9a7.jpg)
![image](https://cloud.githubusercontent.com/assets/1514099/4281903/c0c2a400-3d4b-11e4-822c-ebc5dab2ca44.jpg)
![image](https://cloud.githubusercontent.com/assets/1514099/4281904/c0c479e2-3d4b-11e4-9286-e850eef991fb.jpg)

[2014-09-16 14:21] marcelgerber commented on #110
I cannot repro this on Android (Android 4.1.2, Chrome 37). Looks like an iOS-only problem, but I dunno how to fix it as the nav already has a `z-index` of 999.

[2014-09-23 21:50] le717 commented on #70
This can be closed, as #72 which fixed this has been merged since June. :)

[2014-09-24 00:11] ingorichter commented on #70
@le717 you are right. Thanks. Closing

[2014-09-24 00:11] #70 closed, assigned to nobody

[2014-10-15 19:42] MarcelGerber opened #117 "Update Screenshot"
We should update the screenshot as it's outdated now.
Maybe use something like https://github.com/adobe/brackets/wiki/Brackets-Screenshots (but without the shadow!)

[2014-10-15 19:50] peterflynn commented on #117
Those screenshots include a bunch of stuff that's not actually in the Brackets core download... I think it would be better to have screenshots that reflect the actual "stock" appearance.

[2014-10-31 12:39] Mark-Simulacrum opened #124 "Dialog and button to open dialog have different titles"
The `Installation Requirements` button opens a dialog called `Requirements`. Perhaps this should be changed for a cleaner user experience.

[2014-11-15 10:01] marcelgerber commented on #106
@Jin-Kim Should work again.

[2014-11-24 20:53] nicolo-ribaudo opened #129 "Translations"
I'm going to translate brackets.io into Italian, but I have two questions:
1. What should I write in the `_last.translated` property? `e1598a31476b10bbfdd1c83614307b2e92bb949d`?
2. Isn't there a way to translate the *Popular Extensions* section (the title and the *Check Out New Extensions* button)? I can't find it in the `translation.json` file...

[2014-11-25 02:01] marcelgerber commented on #129
Nice, you're welcome!
1. Yep, that's correct (taking the SHA of the last change, like we do in Brackets core, isn't as easy here).
2. No, it's not yet translatable, but we may add it anytime.

[2014-11-25 16:55] TomMalbran commented on #129
For 2, we should use the i18n information from the package. Since the text is hardcoded, I guess that we would need a script to generate that.

[2014-11-25 17:19] nicolo-ribaudo commented on #129
We can read titles and descriptions from the `package-i18n` property of the _package.json_ files.

Translated: #130

[2014-12-18 04:48] bchintx opened #133 "Clicking Download bundled build button on IE 11 navigates to github page, instead of downloading .msi"
1. using IE 11 (on Win8.1), browse to http://brackets.io
2. click the big, blue `Download Brackets 1.1 + Extract (Preview) by Adobe` button

Observed:
IE 11 navigates to https://github.com/adobe/brackets/releases/tag/release-1.1

Expected:
that the browser would offer to download the .msi

[2014-12-18 04:56] pthiess commented on #133
@bchintx I wasn't able to reproduce.

[2014-12-18 05:10] bchintx commented on #133
@pthiess Please try reproducing using the native IE 11 application launched from the Desktop.  Upon further investigation, it appears that the problem doesn't reproduce using the (Metro UI) IE 11 app launched from the Start Page.

[2014-12-18 05:28] pthiess commented on #133
@bchintx You are right, there seems to be a glitch – I can see the github URL appearing in the URL bar but browser doesn’t go there in my case.

[2015-02-19 23:40] anewuser opened #138 ""Download Brackets without Extract" link blocked by HTTPS Everywhere on Firefox"
The "Download Brackets without Extract" link doesn't work for me (Firefox 35.0.1 on Windows). I opened the console and found this:

[2015-02-20 00:13] peterflynn commented on #138
I suspect that error is unrelated -- clear your console after the page is loaded, then click the button, then see if anything new has appeared in the console.  If not, then maybe use the FF dev tools to debug into `logAndGo()` and see why clicking the link isn't working.

The CORS error is very strange though -- that URL _does_ respond with `Access-Control-Allow-Origin: *` already (otherwise it wo

[2015-02-20 00:25] peterflynn commented on #138
Hmm that link works for me in Firefox 35.0.1 on Mac -- and I don't see that error in the console either.  Maybe try making a clean FF profile (no extensions, empty cache, default settings) and check if you see the same thing there or not.

[2015-02-20 04:43] anewuser commented on #138
I'm sorry for not trying the Firefox "safe mode" before posting here.

This error is indeed caused by an extension:  [HTTPS-Everywhere](https://www.eff.org/https-everywhere). Disabling it makes the download work.

[2015-03-01 08:47] peterflynn commented on #138
Can you use Firefox dev tools to capture a log of the network when loading the page, and then when clicking the button?  That should show which request is failing.

[2015-03-01 21:40] anewuser commented on #138
The only error that appears is the one I included in my first post. HTTPS-Everywhere is an extension that redirects requests to domains in a pre-built list to their HTTPS versions. If you want, I can report this to its developers.

[2015-03-03 03:24] le717 opened #141 "Add standardized version of CSS filter"
[Firefox 35](http://caniuse.com/#feat=css-filters) added support for CSS3 filters. All three uses of `-webkit-filter` should be duplicate to use the standardized, non-prefixed form.

[2015-03-04 22:58] #141 closed

[2015-03-04 23:19] PlanetVaster commented on #138
Guess it's solved you should close this now

[2015-03-05 00:10] peterflynn commented on #138
@anewuser Right, but I have no idea which domains are in their whitelist, so I don't know which network requests were modified from what the page was expecting.  The Firefox dev tools has a Network tab -- if you open that and then load brackets.io, you should be able to go down the list and see (a) which items were loaded via `https://` URLs, and (b) which items had an error or redirect.

[2015-03-05 20:31] marcelgerber commented on #138
I've installed the HTTPS Everywhere extension and actually, the issue _is_ caused by the CORS issue that is also printed to console. The current Brackets Release cannot be determined without downloading the JSON file, so HTTPS Everywhere breaks the website by breaking CORS.

The CORS issue is probably https://github.com/EFForg/https-everywhere/issues/49.

[2015-03-05 20:45] peterflynn commented on #138
@MarcelGerber Ah, cool!  It didn't even occur to me that the extension could be breaking CORS directly, rather than just changing URLs.  Definitely a problem with the extension itself then -- nothing wrong with our page...

[2015-03-05 20:49] marcelgerber commented on #138
Yeah, but I have a fix up (imo a improvement anyway) to fix the extension.

[2015-05-08 19:40] fmoliveira opened #151 "Portuguese translation"
Hello,

I love Brackets and I'd like to translate its website to my native tongue, Brazilian Portuguese.

I've already read locale's README and I'm opening an issue just to make sure nobody else is working at the same task.

May I start working on the translation? :smiley:

Thanks in advance!

[2015-05-09 10:38] nethip commented on #151
@fmoliveira I think we already have these translations in the core. https://github.com/adobe/brackets/tree/master/src/nls/pt-br. Are you referring to the same strings?

[2015-05-09 10:40] nethip commented on #151
@fmoliveira Oh I see now that you were referring to adding new language to the website. My bad as I thought it was to do with Brackets core.

[2015-05-09 10:42] nethip commented on #151
Marking this to @ryanstewart for his inputs on this.

[2015-05-09 12:52] fmoliveira commented on #151
Hi @nethip , yes I mean adding the new translation to the website. No problem! :smiley:

I'll await for @ryanstewart answer. Thanks!

[2015-05-12 15:27] marcelgerber commented on #151
@fmoliveira I think you're pretty safe with that as there hasn't been much interest in translating this page lately.

In case you need help, I'm probably the one to ask as I've integrated the i18next library and provided the German translation.
There are presumably some small changes we have to make to the localization system over here (the one that comes to mind is accepting locales consisting of

[2015-05-12 16:46] fmoliveira commented on #151
Fine @MarcelGerber , that's exactly what I thought.

Good to know who to ask help for. I'll start working on the translation then. :+1:

Thanks!

[2015-05-12 16:59] nethip commented on #151
@fmoliveira I think this page cannot be completely localized as updates strings that fill the bottom left part of the website telling about release highlights,  are right now localized only in 5 languages and we do not have update strings for  pt-br. I will have a word with Ryan, who is the product manager for Brackets.

[2015-05-12 17:03] fmoliveira commented on #151
I see @nethip , you mean the "release notes" section?

If I can help translating the release notes I'll be happy to help too. :smiley:

[2015-05-12 17:05] ryanstewart commented on #151
@fmoliveira I think translating the page in the same way @MarcelGerber did for German would be awesome! As @nethip mentions, the release notes won't necessarily be translated (and I don't think we have the infrastructure set up for those) but translating the blog would be awesome.

[2015-05-12 17:06] nethip commented on #151
@fmoliveira I just had a word with Ryan. Please go ahead and add the translation. :smile:

[2015-05-12 17:07] nethip commented on #151
@ryanstewart that was quick man.

[2015-05-12 18:01] marcelgerber commented on #151
@fmoliveira You can translate Brackets' Update Notifications [over here](https://github.com/adobe/brackets-updates/tree/master/updates/stable), but let's start with the website.

[2015-05-12 18:19] fmoliveira commented on #151
Thanks a lot @ryanstewart , @nethip and @MarcelGerber .

Fine @MarcelGerber , good to know. You're right, let's start with the website. :+1:

[2015-05-28 16:21] anilnatha opened #157 "Documentation Error for Menu Class"
I apologize if this isn't the place to list this issue.

The [documentation](http://brackets.io/docs/current/modules/command/Menus.html) for the `Menu` class lists information about the `before` variable which states:

However, there is no functionality [as of yet](https://trello.com/c/EwLGRkYe/541-submenus) for `addSubMenu()`

![screen shot 2015-05-28 at 09 10 22 am](https://cloud.githubuserconte

[2015-07-08 12:56] fmoliveira commented on #151
So sorry it's taking too much time to finish this. In fact I've already finished the translation but wasn't able to manage time to review it. I'll take care of it this week and submit a pull request.

[2015-07-19 09:21] nifker opened #159 "No libgcrypt-11 package"
Debian 8 has no libgcrypt-11 package(only the development package), from where can I get it?

[2015-07-23 01:35] fmoliveira commented on #151
Phew! I've finally been able to do my last review and submit the translation!

PR #161 has been sent. :smiley:

[2015-07-23 05:02] abose commented on #151
@fmoliveira The pr has been merged. Please close this issue once you verfied this after release 1.4 goes live.

[2015-07-23 11:49] fmoliveira commented on #151
Fine @abose , I'll keep an eye on that!

Thanks.

[2015-07-23 11:55] fmoliveira commented on #151
Release 1.4 isn't out yet but the website has already been updated.

Everything is just fine. I'm closing this.

[2015-07-23 11:55] #151 closed

[2015-07-23 13:02] #129 closed

[2015-07-25 10:17] marcelgerber commented on #159
Please head over to https://github.com/adobe/brackets/issues/10255 for this discussion. Looks like http://ftp.acc.umu.se/mirror/cdimage/snapshot/Debian/pool/main/libg/libgcrypt11/ is the place to download the libgcrypt11 package.

Notice this repo (brackets.io) is just for the Brackets website, not Brackets itself.

Closing.

[2015-07-25 10:17] #159 closed

[2015-10-27 16:42] redmunds opened #166 "Code Folding is still listed under Popular Extensions"
Code Folding is still listed under Popular Extensions on main page of brackets.io. This is now a default extension, so it shouldn't appear in this list.

[2015-10-27 18:55] peterflynn commented on #166
Looks like it's just a hardcoded list in index.html.  Seems like we should periodically update it by looking at Health Report's list of most popular extensions.

[2015-12-03 18:49] mynetx commented on #133
@bchintx @pthiess Cannot reproduce this on IE 11.11.10586 with neither the big blue button nor the small ‘without Extract’ link. Suggesting to close this issue.

[2015-12-03 18:50] mynetx commented on #124
@Mark-Simulacrum Where do you find the `Installation Requirements` button?  Could you provide a screenshot?

[2015-12-03 18:52] mynetx commented on #117
@MarcelGerber Is this issue still current?

[2015-12-03 20:53] bchintx commented on #133
thanks for pointing that out @jublo.  Agreed.  The problem appears fixed w/ IE 11.11.10586, running on Windows 10 with the latest "Threshold 2" update.

I'm still seeing the problem on IE 11.0.10240.16590, running on the original, shipping Windows 10, though.  However, it definitely appears to be a problem specific with IE, and not with our website, so I'm fine with closing this issue.

[2015-12-03 20:53] #133 closed

[2015-12-05 20:41] marcelgerber commented on #117
You're right, this has been addressed in the website update for 1.0
Closing.

[2015-12-05 20:41] #117 closed

[2015-12-05 20:42] marcelgerber commented on #124
The button is no longer present.
Closing.

@jublo Thanks for reminding us to close this, even if indirectly :)

[2015-12-05 20:42] #124 closed

[2015-12-06 04:24] #106 closed

[2015-12-08 17:37] #166 closed

[2016-05-13 17:18] pciiitmk opened #176 "API Docs page link is broken"
The page: http://brackets.io/docs/current/modules/brackets.html is broken.
## Steps to reproduce (The way I did it):
1. Navigate to: [Bracket's API page](http://brackets.io/docs/current/modules/brackets.html)
2. Click on `active-line` label in dependencies section.

**Observation**
The link points to a page that gives a `404 Page not found`

[2016-06-30 11:32] abose opened #183 "Hero image in the website does not depict the stock user expericence for Brackets"
Just noticed the change in the site, the new hero image of brackets does not seem to be the stock user experience for brackets with a different theme applied and a couple of additional 'extension' buttons. Wouldn't it be better to put in the image of stock brackets as the hero image. It would be confusing for new users to see the program they downloaded does not seem to be the one in the screensho

[2016-09-23 17:36] ficristo commented on #183
I agree with @abose. If I'm not mistaken there is still the icon of Extract in the right toolbar...
/cc @bethomas

[2016-09-23 17:38] #3 closed

[2016-09-23 17:39] #33 closed

[2016-09-23 17:40] ficristo commented on #65
If you still see the issue, reopen

[2016-09-23 17:40] #65 closed

[2016-09-23 17:41] #90 closed

[2016-09-23 17:49] ficristo commented on #176
`active-line` is an addon of CodeMirror and not the only one in the docs.
I don't think things under `src/thirdparty` code should be showed.
`PerfUtils.js` is showed twice and I don't why show `main-view.html`.

According to https://github.com/adobe/brackets/wiki/Generating-Brackets-API-Docs the docs are generated with https://github.com/jbalsas/apify/ where, probably, the fix have to happen.

[2017-04-07 16:27] ankitrgadiya commented on #176
Its working for me now.

[2017-04-07 18:23] ficristo commented on #176
I still can reproduce...

[2017-05-04 17:47] petetnt opened #196 "Recent blog posts fail to load"
Reposting from https://github.com/adobe/brackets/issues/13322 with bit more details:

The feed is interpreted as HTML for whatever reasons now at https://github.com/adobe/brackets.io/blob/9375bf024fa25c7e983ec967ca9db8969e0c8b85/index.html#L508, causing the `Unexpected token` error I think.

[2017-05-08 14:40] #138 closed

[2017-06-18 14:46] marcelgerber commented on #196
The JSON feed is not valid, as it ends with a PHP error message:
[code]

[2017-06-25 17:13] umitkucuk opened #198 "API Docs Pages' Responsive Issues"
Hey there,

As everybody knows, there is no responsive design for API Docs Pages. Please open a **new branch** to make the necessary improvements for these pages. I want to help as much as I can.

Thanks in advance!

[2017-09-29 13:02] scheinercc commented on #138
In case someone else lands here - related FF bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1149250

[2018-03-12 21:18] koopaTroopa1 opened #211 "weird behavior on right click-- open in brackets"
[here](https://vimeo.com/259762123) is a video that basically describes the problem. In more detail, when i right click on a file, and select 'open with > brackets', brackets should open up, and view the file that i opened in the working files. instead, unless the file that i opened is in the working files, it is ignored. Is there any way to get rid of this undesired behavior? if there isn't I thi

[2018-03-13 01:26] koopaTroopa1 opened #212 "highligh declared variables"
so i am using brackets.io. I find it annoying that it does not highlight defined variables and functions. for example, ullike [this](https://imgur.com/a/XRlUc) picture, i want `myVar` to be highlighted in the second line, showing that it has been defined. similarly with functions. I have not been able to find a way to do this in brackets, either natively or with an extension. Is this even possible

[2018-06-16 12:28] Taariqq opened #218 "for Linux; please keep Brackets alive"
The live preview of Brackets is second to none. Would you guys _please_ keep Brackets alive for Linux?
It would be a sad day when development for Linux ceases.

I had tried to move to VS Code but the scare that it is Microsoft, plus the fact that all their 'live preview' extensions are just _nothing_ in comparison to Brackets, I came back after trying it for 2 days.

[2018-06-25 19:18] Taariqq commented on #218
I thought you were the official repo!

[2018-06-25 19:18] #218 closed

[2018-08-31 00:24] 7coil opened #220 "Enable HTTPS"
GitHub now supports Let's Encrypt for HTTPS on websites using a `CNAME`

![image](https://user-images.githubusercontent.com/13886925/44886121-6bf75300-acbc-11e8-8488-72aa62febbbc.png)

Anyone currently attempting to browse the website using HTTPS recieves a `Not secure` message.

![image](https://user-images.githubusercontent.com/13886925/44886144-95b07a00-acbc-11e8-9fb1-6ceaee42339d.png)

[2019-03-01 13:13] Itaachime opened #226 "No Back To Top Button for Mobile Devices"
There should be a **Back to Top** button to **move to top from the bottom** in just One Click. It makes the website **more user friendly.**

[2019-03-27 22:59] Inunaki opened #227 "Live view not updating"
My Live view is not loading any of the edits I do to either my HTML or CSS.
Everytime I do something I have to refresh the live view page and Im not sure why>

Sometimes nothing changes and I have to go and reload Brackets.io

Has anyone else had the same issue?

[2020-05-24 03:37] JJ-ind opened #238 "html designer for brackets"
why was this awesome project discontinued . can we still continue it please. it has still some minor bugs and need new features.

[2020-08-14 18:05] viveksh1 commented on #220
Agreed, HTTPS should be added.

[2020-12-08 20:05] danielskg opened #243 "Linking files to HTML"
Hello world! :)

I am fairly new to coding and using Brackets and Github.

I am practicing with linking files and URLs in Brackets, but I cannot seem to be able to open the dialog that allows me to choose a file from my computer's folders.

Last year I used to code with Dreamweaver and whenever I wanted to insert a file in the href attribute of `<a>` or src of `<img>`, a dropdown menu would appear

[2020-12-26 13:02] #243 closed

[2020-12-26 13:07] danielskg opened #244 "Not updating file links"
Is there a way for brackets to automatically update the relative paths of files in the code if I move those files into another folder within the file tree, or do I have to manually update all links every time?

[2021-06-19 19:08] luke2m opened #247 "Licensing"
I would like to fork the documentation from the website for the brackets-cont fork of Brackets. Would this be allowed?

[2021-07-13 15:36] adrocknaphobia commented on #247
Sure!

[2021-07-14 15:48] #247 closed